{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2>Modification d'une classe</h2>

    {#{{ form(edit_form) }}#}

    {{ form_start(edit_form)}}
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-4 col-sm-3">
                <label>Nom de la classe</label>
                {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control','placeholder':'ex:Terminale C'}})  }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-4 col-sm-3">
                <label>abr&eacute;viation</label>
                {{ form_widget(edit_form.abreviation, {'attr': {'class': 'form-control','placeholder':'ex:Tle C'}})  }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-4 col-sm-3">
                <label>Classe M&egrave;re</label>
                {{ form_widget(edit_form.classePere, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-4 col-sm-3">
                <label>Classe Suivante</label>
                {{ form_widget(edit_form.classeNext, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-4 col-sm-3">
                <label>Cycle</label>
                {{ form_widget(edit_form.cycle, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>

    <table class="col-md-offset-4">
        <tr>
            <td >{{ form_end(edit_form)}}</td>
            <td>&nbsp;&nbsp;</td>
            <td >{{ form(delete_form) }}</td>
        </tr>
    </table>

    <div class="">
        <div class="">
            <a href="{{ path('classe') }}">
                Retourner à la liste
            </a>
        </div>
    </div>
{% endblock %}