{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2>Liste des salles de classes</h2>
    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{path('classe_new')}}" class="pull-left btn-link"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une classe</a>
    </nav>
    <table class="records_list table cell-border row-border table-hover panel-primary" id="classe">
        <thead class="panel-heading">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Classe Père</th>
                <th>Abreviation</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('classe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.classePere }}</td>
                    <td>{{ entity.abreviation }}</td>
                    <td>
                        <a href="{{ path('classe_show', { 'id': entity.id }) }}">Voir</a>
                    </td>
                    <td>
                        <a href="{{ path('classe_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('#classe').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
{% endblock %}
