{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2>Liste des salles de classes</h2>
    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{path('classe_new')}}" class="pull-left btn-link"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une classe</a>
    </nav>
    <table class="records_list table cell-border row-border table-hover panel-primary" id="classe">
        <thead class="panel-heading">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Classe M&egrave;re</th>
            <th>Abreviation</th>
            <th>Marquer les élèves absents</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('classe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.classePere }}</td>
                <td>{{ entity.abreviation }}</td>
                <td>
                    <a class="btn-link" data-toggle="modal" data-target="#seq_{{entity.id}}" class="btn btn-blue"><span class="glyphicon glyphicon-calendar"></span> Insérer</a>
                    <div id="seq_{{entity.id}}" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <center><b>Choisir la séquence</b></center>
                                </div>
                                <div class="col-md-12 modal-body">
                                    {% for sequence in listSequence %}
                                        <center>
                                            <a href="{{path('absence_classe', {'idClasse':entity.id , 'idSeq': sequence.id })}}" class="btn btn-green">
                                                <b>{{sequence}}</b>
                                            </a>
                                        </center>
                                    {% endfor %}
                                    <hr>
                                    <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btn btn-info" href="{{ path('classe_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a class="btn btn-success" href="{{ path('classe_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('#classe').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
    </script>
{% endblock %}