{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Edition d'une Inscription</h1>

    {#{{ form(edit_form) }}#}

    {{ form_start(edit_form)}}
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.annee, 'Année scolaire: ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.annee, {'attr': {'class': 'form-control', 'disabled':'disabled'}})  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.student, 'Nom Elève: ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.student, {'attr': {'class': 'form-control', 'disabled':'disabled'}})  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.classe, 'Classe: ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.classe, {'attr': {'class': 'form-control'}})  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.avance, 'Avance: ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.avance, {'attr': {'class': 'form-control'}})  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.dateDerniereAvance, 'Date dernière avance: ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.dateDerniereAvance, {'attr': {'class': 'form-control', 'disabled':'disabled'}})  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-11 col-xs-11">
            <div class="form-group">
                {{ form_label(edit_form.status, 'Status(Cocher cette case dans le cas l\'élève a payé toutes les tranches): ', {'label_attr': {'class': 'control-label'}}) }}
                <div>
                    {{ form_widget(edit_form.status, {'attr': {'class': 'form-control'}})  }}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(edit_form)}}<br>

        <ul class="record_actions">
            <br> <li>{{ form(delete_form) }}</li>
            <li>
                <a href="{{ path('inscription') }}">
                    Retour à la liste
                </a>
            </li>
</ul>
{% endblock %}
