{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Liste des Inscription</h1>
    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{ path('inscription_notyet') }}" class="pull-left btn-link"><span
                    class="glyphicon glyphicon-plus-sign"></span> Inscrire un nouvel el&egrave;ve</a>
    </nav>
    <table id="inscription" class="records_list table panel-primary">
        <thead class="panel-heading">
        <tr>
            <th>Performance</th>
            <th>Nom et prénom</th>
            <th>Classe</th>
            <th>Avance</th>
            <th>Date dernièrre avance</th>
            <th>Etat d'inscription</th>
            <th>Année Académique</th>
            <th>Profil de l'élève</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('student_performance', {'idEleve': entity.student.id}) }}">Perfo</a></td>
                <td>{{ entity.student }}</td>
                <td>{{ entity.classe }}</td>
                <td>{{ entity.avance }}</td>
                <td>{% if entity.dateDerniereAvance %}{{ entity.dateDerniereAvance|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('inscription_show', { 'id': entity.id }) }}">
                        <i class="glyphicon glyphicon-eye-open "></i></a>
                    {% if entity.status == 0 %}
                        <a class="btn btn-orange" href="{{ path('inscription_edit', { 'id': entity.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-green"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </td>
                <td>{{ entity.annee }}</td>

                <td>
                    {#Paiement #}
                    {#{% if entity.status == 1 %}#}
                    {#<b style="color: green">Complet</b>#}
                    {#{% else %}#}
                    {#<b style="color: red">Incomplet</b>#}
                    {#{% endif %}#}
                    <ul style="list-style-type: none">
                        <li><a class="btn-link" data-toggle="modal" data-target="#sequence-{{ entity.id }}">Profil</a>

                            <div style=" position: center" id="sequence-{{ entity.id }}" class="modal fade">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span style="font-size: 1.2em;" class="text-center"><strong>Choisir une
                                                    sequence</strong></span>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="col-md-12 modal-body">
                                            {% for sequence in sequences %}
                                                <center>
                                                    <a href="{{ path('bulletin_seq_student', {'idClasse':entity.classe.id , 'idEleve': entity.student.id, 'idSeq':sequence.id, 'idAnnee':entity.annee.id }) }}"
                                                       class="btn btn-green">
                                                        <b>{{ sequence }}</b>
                                                    </a>
                                                </center>
                                            {% endfor %}
                                            <hr>
                                            <button type="button" class="btn btn-red pull-right" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove-sign"></span>Annuler
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $('#inscription').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
    </script>
{% endblock %}