{% extends "::base.html.twig" %}

{% block body -%}
    {#{% for eleve in eleves  %}#}
    <div class="container" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="pull-left">
                <p>{{ constante.ministereFrancais }}</p>
                <p>{{ ecole.nomFrancais }}</p>
                <p>{{ ecole.boitePostal }}</p>
            </div>
            <div class="pull-right">
                <p>{{ constante.paysFrancais }}</p>
                <p>{{ constante.deviseFrancais }}</p>
            </div>
        </div>

        <div class="col-md-12">
            <table border="0" style="width: 100%; margin-bottom: 15px;">
                <tr>
                    <th colspan="4"></th>
                    <th>Ann&eacute;e Acad&eacute;mique: </th>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2"></td>
                    <td  colspan="2" rowspan="2" class="text-center" style="font-size: 2em;">BULLETIN DE NOTES</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ sequence }}</td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2" rowspan="3"><img style="height: 100px; width: 100px;" src="{{ asset('uploads/images/photo4x4_elsha.jpg') }}" alt="Photo"></td>
                    <td colspan="2">Nom: {{ eleve.nom }}</td>
                    <td>Classe:  {{ classe.nom }}</td>
                </tr>
                <tr>
                    <td colspan="2">N&eacute;(e) le {{ eleve.dateNaissance|date('d-m-Y') }} &agrave; {{ eleve.lieuNaissance }}</td>
                    <td>Effectif: </td>
                </tr>
                <tr>
                    <td colspan="2">Addresse:______________________</td>
                    <td>Situation: </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="5">Enseignant Titulaire: </td>
                </tr>
            </table>
        </div>
        <br>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Disciplines</th>
            <th class="text-center">Enseignants</th>
            <th class="text-center">Moyenne/20</th>
            <th class="text-center">Coef</th>
            <th class="text-center">Total</th>
            <th class="text-center">Rang</th>
            <th class="text-center" colspan="2">Mention</th>
        </tr>
        {% set i = 0 %}
        {% for evaluation in evaluations %}
        <tr>
            <td>{{ evaluation.matiere.nom }}</td>
            <td>{{ evaluation.matiere.nom }}</td>
            <td>{{ evaluation.note }}</td>
            <td>{{ evaluation.note }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
            {% set i = i+1 %}
        {% endfor %}
        <tr>
            <td class="text-center" colspan="3"><strong>Total 1: Enseignements Litt&eacute;raires</strong></td>
            <td></td>
            <td></td>
            <td colspan="2" class="text-center"><strong>Moyenne</strong></td>
            <td ></td>
        </tr>
    </table>
    </div>
    {#{% endfor %}#}
{% endblock %}