{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Edition des notes des élèves</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <label for="">Ann&eacute;e Acad&eacute;mique: </label> <span>{{annee.anneeScolaire}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Classe: </label> <span>{{classe.nom}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Séquence: </label> <span>{{sequence.nom}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Matière: </label> <span>{{matiere.nom}}</span>
            </div>
        </div>
            <table class="table table-bordered table-hover panel-primary" id="notes">
                <thead class="panel-heading">
                    <tr>
                        <th>Noms et prénoms</th>
                        <th class="col-md-3">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evaluation in evaluations %}

                        <tr>
                            <td>{{evaluation.student.nom}}</td>
                            <td>
                            <form action="{{ path('note_inserer', { 'idNote':evaluation.id, 'idClasse':classe.id, 'idAnnee':annee.id })}}" method="POST">
                                     <input style="width: 78px;" id="{{ evaluation.id }}" type="text" value="{{ evaluation.note }}" name="note" class="form-control" placeholder="note-{{ evaluation.student.nom }}" disabled="true"/>
                                <a class="btn btn-primary" id="{{ evaluation.id }}-edit" onclick="activer({{ evaluation.id }})">Modifier</a>
                                <input  class="btn btn-primary hidden" id="{{ evaluation.id }}-ok" type="submit" value="OK" />
                            </form>
                            </td>
                        </tr>


                    {% endfor %}
                </tbody>
            </table>
            {#<input class="btn btn-primary" type="submit" value="Enregistrer" />#}
        {#</form>#}
    </div>
    <ul class="record_actions">
        <li>
            <a class="btn btn-primary" href="{{ path('school_gestion_homepage') }}">
                Retour
            </a>
        </li>
    </ul>
    <script>
        $('#notes').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
    <script>
        function activer(id){
            document.getElementById(id).disabled =false;
            $("#"+id+"-ok").removeClass('hidden');
            $("#"+id+"-edit").addClass('hidden');
        }
        /*function desactiver(id){
//            document.getElementById(id).disabled =true;
            $("#"+id+"-edit").removeClass('hidden');
            $("#"+id+"-ok").addClass('hidden');
        }*/

    </script>
{% endblock %}