{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Remplissage des notes des élèves</h1>


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <label for="">Ann&eacute;e Acad&eacute;mique: </label> <span>{{annee.anneeScolaire}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Classe: </label> <span>{{classe.nom}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Séquence: </label> <span>{{sequence.nom}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Matière: </label> <span>{{matiere.nom}}</span>
            </div>
        </div>
        <form action="{{ path('note_add', { 'id': classe.id, 'idSeq':sequence.id, 'idMat':matiere.id, 'idAnnee':annee.id })}}" method="post">
            <table class="table table-bordered table-hover panel-primary" id="notes">
                <thead class="panel-heading">
                    <tr>
                        <th>Noms et prénoms</th>
                        <th class="col-md-2">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in eleves %}
                        <tr>
                            <td>{{eleve.nom}}</td>
                            <td>
                                <input type="text" {#value="{{ notes.student.nom }}"#} name="{{ eleve.id }}" class="form-control col-md-1" placeholder="note-{{ eleve.nom }}">

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="Enregistrer" />
        </form>
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('school_gestion_homepage') }}">
                Back to the list
            </a>
        </li>
    </ul>
    <script>
        $('#notes').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
{% endblock %}
