<style>
    #entete{
    width: 100%;
    /*color: #717375;*/
    font-family: helvetica;
    line-height: 5mm;
    border-collapse: collapse;
    }

    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
    .30p {width: 30%;} .20p{width: 20%;}
    .40p{width: 40%}

    .notes  td,.notes  th {
    border: 1px solid darkgray;
    height: 25px;
    }

    .notes{
    border: none;
    }

     #tableau{
         border-collapse: collapse;
     }

     #tableau td, #tableau th{
        border: 1px solid black;
    }
</style>

<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <p>GreenSoft-Team</p>
    </page_footer>
        <h1 style="text-align: center;"><u>FICHE DE SUIVI PEDAGOGIQUE DU PROFESSEUR DANS SES DIFFERENTES CLASSES</u></h1>
            <table id="entete" class="notes">
                <tr>
                    <td style="border: none" colspan="3"><strong>Noms et pr&eacute;noms: </strong>{{ enseignements[0].enseignant.nom }}</td>
                </tr>
                <tr>
                    <td style="border: none" class="30p"><strong>Grade: </strong>{{ enseignements[0].enseignant.grade }}</td>
                    <td style="border: none" class="30p"><strong>Dicipline: </strong>{{ enseignements[0].matiere.nom }}</td>
                    <td style="border: none" class="30p"><strong>S&eacute;quence : </strong>{{ sequence.nom }}</td>
                </tr>
                <tr>
                    <td style="border: none">
                        <strong>P&eacute;riode allant du:</strong>_________ <strong> au</strong>________
                    </td>
                    <td style="border: none">
                        <strong>Nombre de moyenne > ou = 10/20:__________</strong>
                    </td>
                    <td style="border: none">
                        <strong>Poucentage de r&eacute;ussite________</strong>
                    </td>
                </tr>
            </table>


        <table id="tableau">
            <tr>
                <th colspan="6" rowspan="2"></th>
                <th style="text-align: center" colspan="6" rowspan="2">A. Taux de couverture <br>des heures d'enseignement<br>et des programmes</th>
                <th rowspan="3">Moyenne<br>g&eacute;n&eacute;rale<br>de la<br>classe</th>
                <th colspan="3" rowspan="3">Taux de<br>r&eacute;ussite<br>en %</th>
                <th style="text-align: center;" colspan="5">B. Statistiques des <br> r&eacute;sultats</th>
            </tr>

            <tr style="font-weight: bold">
                <td style="text-align: center;" colspan="5">Nombre de notes <br> compris entre</td>
            </tr>
            <tr style="font-weight: bold">
                <td>N&deg;</td>
                <td>Classes</td>
                <td>Discipline</td>
                <td colspan="3">Effectif</td>
                <td style="text-align: center;" colspan="3">1. Couverture <br> des heures <br>d'enseignements</td>
                <td style="text-align: center;" colspan="3">2. Couvertures des <br> programmes</td>
                <td>16-20</td>
                <td>14-15.99</td>
                <td>12-13.99</td>
                <td>10-11.99</td>
                <td>0-9.99</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>G</td>
                <td>F</td>
                <td>T</td>
                <td>Heures <br> dues par An</td>
                <td>Heures <br> faites</td>
                <td>Taux en %</td>
                <td>Nombres de <br> le&ccedil;ons <br> pr&eacute;vues <br> par an</td>
                <td>Nombres de <br> le&ccedil;ons <br> faites</td>
                <td>Taux en %</td>
                <td></td>
                <td>G</td>
                <td>F</td>
                <td>T</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% set i = 1 %}
            {% for enseignement  in enseignements  %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ enseignement.classe.abreviation}}</td>
                    <td>{{ enseignement.matiere.abreviation}}</td>
                    <td>{{ enseignement.nbreGarcons }}</td>
                    <td> {{ enseignement.nbreFilles }}</td>
                    <td>{{ enseignement.nbreGarcons + enseignement.nbreFilles  }}</td>
                    <td>{{ enseignement.nombreHeuresAnnuel}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% set i =i+1 %}
            {% endfor %}
        </table>
</page>