{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2 class="text-center">Liste des matières</h2>
    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{path('matiere_new')}}" class="pull-left btn-link"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une matière</a>
    </nav>
    <table class="records_list table table-striped display row-border cell-border compact panel-primary " id="matiere">
        <thead class="panel-heading" >
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Abreviation</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('matiere_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.abreviation }}</td>
                    <td>{{ entity.categorie}}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('matiere_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a class="btn btn-success" href="{{ path('matiere_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('#matiere').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
{% endblock %}
