{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2>Modification d'une categorie</h2>
    {#{{ form(edit_form) }}#}
    {{ form_start(edit_form)}}
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label>Nom de la cat&eacute;gorie</label>
                {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    {{ form_end(edit_form)}}
    <p>&nbsp;
        <a href="{{ path('categorie')}}" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour &agrave; la liste
        </a>
        {#{{ form(delete_form) }}#}
    </p>
{% endblock %}