{% extends "SchoolGestionBundle:Default:index.html.twig" %}
{% block title %} Bulletin Séquentiel  {% endblock %}

{% block aside %}
{% endblock %}
{% block body %}
    <div class="col-md-offset-2 col-md-8" style="margin-top: 0%; font-size: 12px; font-family: monospace">
        <table class="table table-bordered" id="">
            <thead class="">
            <tr style="font-size: 10px">
                <td colspan="3" style="text-align: center">
                    <b>
                        {{ pays.ministereFrancais }}<br>
                        {{ ecole.nomFrancais }}<br>
                        B.P. {{ ecole.boitePostal }}
                    </b>
                </td>
                <td colspan="2" style="text-align: center">
                    <img style="height: 50px; width: 60px;" src="{{ asset('uploads/logos/' ~ ecole.logo.id ~'.'~ ecole.logo.url)}}" alt="Logo" title="" >
                </td>
                <td colspan="3" style="text-align: center">
                    <b>
                        Republique du {{ pays.paysFrancais }}<br>
                        {{ pays.deviseFrancais }}<br>
                        {{ecole.deviseFrancais}}
                    </b>
                </td>
            </tr>
            <tr>
                <td style="text-align: left" colspan="2"><b>{{annee}}</b></td>
                <td colspan="4" style="font-size: 1em; text-align: center"><b>BULLETIN DE NOTES</b></td>
                <td colspan="2" style="text-align: right">
                    <b>
                        {% if listCategories[0].listeMatieres[0].evaluationSeq is not null %}
                            {{ listCategories[0].listeMatieres[0].evaluationSeq[0].sequence }}
                        {% endif %}
                    </b>
                </td>

            </tr>
            <tr>
                <td rowspan="2" style="text-align: left">
                    <img style="height: 70px; width: 85px;" src="
                             {% if student.photo is not null %}
                                 {{ asset('uploads/images/' ~ student.photo.id ~'.'~ student.photo.url)}}" alt="{{student}}" title="{{student}}
                             {% endif %}
                             ">
                </td>
                <td colspan="3" style="text-align: left">Elève: <b>{{ student.nom | upper}}</b></td>
                <td colspan="2" style="text-align: left"><b>{{ student.dateNaissance|date('d-m-Y') }}</b> A <b>{{ student.lieuNaissance | upper}}</b></td>
                <td>Matricule:  <b>{{ student.matricule }}</b></td>
                <td colspan="1" style="text-align: left">Sexe: <b>{{student.sexe}}</b></td>
            </tr>
            <tr>
                <td style="text-align: left" colspan="4">Titulaire: <b>{{titulaire}}</b></td>
                <td colspan="2" style="text-align: left">Classe:  <b>{{ student.classe.abreviation }}</b></td>
                <td colspan="2" style="text-align: left">Eff: <b>{{Allstudent | length}}</b></td>
            </tr>
            <tr>
                <th style="background: gray;" colspan="2">Disciplines</th>
                <th style="background: gray;">Enseignants</th>
                <th style="background: gray;">M./20</th>
                <th style="background: gray;">Coef.</th>
                <th style="background: gray;">Total</th>
                <th style="background: gray;">Rang</th>
                <th style="background: gray;">Mention</th>
            </tr>
            </thead>
            {% set somNote = 0 %}
            {% set somCoef = 0 %}
            <tbody>
            {% for categorie in listCategories %}
                {% set somCoefCat = 0 %}
                {% set somTotalCat = 0 %}
                <tr>
                {% for matiere in categorie.listeMatieres %}
                    <td colspan="2">
                        {% set mat = matiere.taille %}
                        {% if mat > 13 %}
                            {{ matiere.abreviation }}
                        {% else %}
                            {{matiere}}
                        {% endif %}
                        {# {{matiere | truncate(13, true, '... (' ~ matiere.abreviation ~ ')')}} #}
                    </td>
                    <td>
                        {% if matiere.evaluationSeq is not null %}
                            {{matiere.evaluationSeq[0].index.enseignant}}
                        {% endif %}
                    </td>
                    <td>
                        {% if matiere.evaluationSeq is not null %}
                            {{matiere.evaluationSeq[0].note}}
                        {% endif %}
                    </td>
                    <td>
                        {% if matiere.evaluationSeq is not null %}
                            {% set somCoefCat = somCoefCat + matiere.evaluationSeq[0].index.coefficient %}
                            {% set somCoef = somCoef + matiere.evaluationSeq[0].index.coefficient %}
                            {{matiere.evaluationSeq[0].index.coefficient}}
                        {% endif %}
                    </td>
                    <td>
                        {% if matiere.evaluationSeq is not null %}
                            {% set total = matiere.evaluationSeq[0].index.coefficient * matiere.evaluationSeq[0].note %} {{total}}
                            {% set somTotalCat = somTotalCat + total %}
                            {% set somNote = somNote + total %}
                        {% endif %}
                    </td>
                    <td>
                        Rang
                    </td>
                    <td>
                        Mention
                    </td>
                    </tr>
                {% endfor %}
                <tr style="border: 2px solid black;">
                    <td colspan="4" style="font-size: 10px">
                        <b><i>{{categorie}}</i></b>
                    </td>
                    <td>
                        <b>{{ somCoefCat }}</b>
                    </td>
                    <td colspan="2">
                        M:
                        <b>
                            {% if somCoefCat > 0 %}
                                {{(somTotalCat / somCoefCat) | truncate(5, 'true', '')}}
                            {% else %}
                                /
                            {% endif %}
                        </b>
                    </td>
                    <td>
                        <b>Rang</b>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr style="border: 2px solid black; font-size: 11px; font-family: initial">
                <td colspan="2">
                    <b><u>Total des absences</u>:</b>
                    12
                </td>
                <td colspan="2">
                    <b><u>Absences non justifiés</u>:</b>
                    5
                </td>
                <td colspan="2">
                    <b><u>Décision du conseil</u>:</b>
                    Dois faire attention aux abscences
                </td>
                <td colspan="2" >
                    <b><u>Conduite:</u></b><br/>
                    Conduite aceptable
                </td>
            </tr>
            <tr style="border: 2px solid black; font-family: initial">
                <td colspan="2">
                    <b><u>Moy. de la classe</u>:</b>
                    09.45
                </td>
                <td colspan="2">
                    <u>Moy. de l'élève</u>:
                    <b style="font-family: monospace">
                        {% if somCoef  > 0 %}
                            {{(somNote / somCoef) | truncate(5, 'true', '')}}
                        {% else %}
                            /
                        {% endif %}
                    </b>
                    <br>
                    <b><u>Appréciation</u>:</b>
                    Passable
                </td>
                <td>
                    <b><u>RANG</u>:</b>
                    12ème
                </td>
                <td colspan="3" >
                    <b><u>OBSERVATIONS</u></b><br/>
                    Un éffort considérable s'impose en matières littéraires
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: left">
                    <u>Le parent</u><br>
                    <center>Signature</center>
                </td>
                <td colspan="4" style="text-align: right">
                    Fait à {{ecole.ville}} Le 12/11/2016
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $('#bulletin').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 10], [10, 10]],
            lengthChange: true,
            buttons: ['excel', 'pdf', 'print'],
            dom: 'Bfrtip',
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
        $('td').css({
            'padding': '2px'
        });
        $('th').css({
            'padding': '2px'
        });
    </script>
{% endblock %}