<style type="text/css">
    table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }

    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
    .30p {width: 30%;} .20p{width: 20%;}
    .40p{width: 40%}

    .info td{
        height: 25px;
        border-top: 1px solid black; border-bottom: 1px solid black;
    }

    .info1 td{
        height: 25px;
        border-top: 1px solid black; border-bottom: 1px solid black;
    }

    .notes td {
        border: 1px solid darkgray;
        height: 25px;
    }

    .notes  th{
        border: 1px solid darkgray;
        height: 25px;
    }

    .conduite tr td{
        border: 1px solid darkgray;
        height: 35px;
    }
    .moyenne tr td{
        border: 1px solid darkgray;
        height: 55px;
    }
    .signature tr td{
        border: 1px solid darkgray;
        height: 55px;
    }
</style>

{{ performance | raw }}









    {#{% for inscription in inscriptions %}#}
        {#<tr>#}
            {#<td>{{ inscription.annee.anneeScolaire }}({{ inscription.classe.nom }})</td>#}
            {#{% for categorie  in listeSequences[0].listeCategories %}#}
            {#<td>#}
                {#{% set moySeq = 0 %}#}
                    {#{% for sequence  in listeSequences %}#}
                        {#{{ sequence.nom }}#}
                        {#{% set totalCat = 0 %}#}
                        {#{% set totalCoeff = 0 %}#}
                        {#{% for cat  in sequence.listeCategories %}#}
                            {#{% if cat == categorie %}#}
                                {#{% for  matiere in cat.listeMatieres %}#}
                                    {#{% if matiere is not null %}#}
                                        {#{% if matiere.evaluationSeq is not null %}#}
                                            {#{% set totalCat = totalCat + (matiere.evaluationSeq[0].note * matiere.evaluationSeq[0].index.coefficient )  %}#}
                                            {#{% set totalCoeff = totalCoeff +  matiere.evaluationSeq[0].index.coefficient  %}#}
                                            {#{{ matiere.evaluationSeq[0].note }}#}
                                        {#{% endif %}#}
                                        {#{% set moySeq =  moySeq +  (totalCat / totalCoeff) %}#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {#{% endif %}#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}
                {#{% set  moyAnn = moySeq /listeSequences |length  %}#}
                {#MoyAnn: {{ moyAnn | number_format(2) }}#}
            {#</td>#}
            {#{% endfor %}#}
        {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
{#</table>#}