{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">List of the students</h2>
<table class="records_list table table-striped panel-primary" id="student">
      <thead class="panel-header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date of birth</th>
        </tr>
      </thead>
      <tbody>
      	{% for student in students %}
        <tr>
          <th scope="row">{{ student.id}}</th>
          <td>{{ student.nom }}</td>
          <td>{{ student.dateNaissance|date('F j, Y, g:i a')}}</td>
          <td>
          	<a href="{{ path('school_student_show', {'id':student.id})}}" class="btn btn-default">
      Details
    </a>
			<a href="{{ path('school_student_edit' , {'id':student.id})}}" class="btn btn-default">
      Edit
    </a>
			<a href="{{ path('school_student_delete' , {'id':student.id})}}" class="btn btn-danger">
      Delete
    </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
     <script>
        $('#student').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
{% endblock %}