{% extends "::base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    {% block description %}
        <div class="pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Utilisateur: <b style="color: blue">
                    {{ app.user.username }}
                </b> |
                <a style="color: brown" href="{{ path('fos_user_security_logout') }}">
                    <u>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</u>
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %} 
        </div>
        <h2>Bienvenue, vous êtes à la page d'accueil.</h2>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}