{% extends "::base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    {% block menu %}
        <nav id="navbar-darkblue" class="navbar navbar-default" role="navigation">
            <div class="navbar-header"><a class="navbar-brand" href="{{ path('school_gestion_homepage')}}"><i class="glyphicon glyphicon-home"></i> Accueil</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Enseigants <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user') }}">Liste des enseignants</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Enseignements <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('estdispense') }}">Liste des enseignements</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Elèves <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('school_student_list')}}">Liste des élèves</a></li>
                            <li><a href="{{ path('inscription')}}">Inscriptions</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-folder-open"></i>  Cat&eacute;gories <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('categorie')}}"><i class="glyphicon glyphicon-folder-open"></i> Cat&eacute;gories</a></li>
                            <li><a href="{{ path('matiere')}}"><i class="glyphicon glyphicon-folder-open"></i> Mati&egrave;res</a></li>
                        </ul>
                    </li>
                    {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-hdd"></i> Matières <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                    {#<li><a href="{{ path('matiere')}}"><i class="glyphicon glyphicon-user"></i> Liste des matières</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-filter"></i> Séquences <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sequence')}}"><i class="glyphicon glyphicon-dashboard"></i> Liste des séquences</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-list"></i> Cycles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cycle')}}"><i class="glyphicon glyphicon-list"></i> Liste des cycles</a></li>
                            <li><a href="{{ path('classe')}}"><i class="glyphicon glyphicon-folder-open"></i> Liste des classes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> Administration <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('attribution_droit')}}"><i class="glyphicon glyphicon-user"></i> Gestion des droits utilisateurs</a></li>
                            <li><a href="{{ path('proviseur_droit')}}"><i class="glyphicon glyphicon-sort-by-attributes"></i> Liste des droits d'accès</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Utilisateur: <b style="color: blue">
                            {{ app.user.username }}
                        </b> |
                        <a style="color: brown" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span>
                            <span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </p>
            </div>
        </nav>
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for flas_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning text-center">{{ flas_message }}</div>
            {% endfor %}
            {% for flas_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger text-center">{{ flas_message }}</div>
            {% endfor %}
        </div>
    {% endblock %}
    <div class="col-md-3">
        {% block aside %}
            <h2>Je suis le "aside"</h2>
        {% endblock %}
    </div>
    <div class="col-md-9">
        {% block content %}
            <h2 class="text-center">Mes salles de classe</h2>
            {% for dispense in listeDispense %}
                <div class="col-md-3 col-sm-6">
                    <div class="shop-item panel-primary">
                        <div class="panel btn-blue">
                            <b style="text-align: left"><span style="color: orange; font-size: 18px" class="glyphicon glyphicon-folder-open"></span> {{dispense.classe}}</b>
                        </div>
                        <ol class="{% if dispense.titulaire == app.user %}alert-info{% endif %}">
                            <li><a class="btn-link" data-toggle="modal" data-target="#sequence_{{dispense.id}}">Remplir les notes</a>
                                <div id="sequence_{{dispense.id}}" class="modal fade">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <center><b>Choisir la séquence</b></center>
                                            </div>
                                            <div class="col-md-12 modal-body">
                                                {% for sequence in listSequence %}
                                                    <center>
                                                        <a href="{{path('note_add', {'id':dispense.classe.id , 'idSeq': sequence.id, 'idMat':dispense.matiere.id, 'idAnnee':dispense.annee.id })}}" class="btn btn-green">
                                                            <b>{{sequence}}</b>
                                                        </a> 
                                                    </center>
                                                {% endfor %}
                                                <hr>
                                                <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a class="btn-link" data-toggle="modal" data-target="#sequenceedit_{{dispense.id}}">Modifier une note</a>
                                <div id="sequenceedit_{{dispense.id}}" class="modal fade">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <center><b>Choisir la séquence</b></center>
                                            </div>
                                            <div class="col-md-12 modal-body">
                                                {% for sequence in listSequence %}
                                                    <center>
                                                        <a href="{{path('note_editnote', {'id':dispense.classe.id , 'idSeq': sequence.id, 'idMat':dispense.matiere.id, 'idAnnee':dispense.annee.id })}}" class="btn btn-green">
                                                            <b>{{sequence}}</b>
                                                        </a>
                                                    </center>
                                                {% endfor %}
                                                <hr>
                                                <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a class="btn-link" data-toggle="modal" data-target="#notespdf_{{dispense.id}}">Exporter les notes en PDF</a>
                                <div id="notespdf_{{dispense.id}}" class="modal fade">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <center><b>Choisir la séquence</b></center>
                                            </div>
                                            <div class="col-md-12 modal-body">
                                                {% for sequence in listSequence %}
                                                    <center>
                                                        <a href="{{path('notespdf', {'idEnseignement':dispense.id, 'idSequence':sequence.id })}}" class="btn btn-green">
                                                            <b>{{sequence}}</b>
                                                        </a>
                                                    </center>
                                                {% endfor %}
                                                <hr>
                                                <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a class="btn-link" data-toggle="modal" data-target="#stat_{{dispense.id}}">Générer les statistiques</a>
                                <div id="stat_{{dispense.id}}" class="modal fade">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <center><b>Choisir la séquence</b></center>
                                            </div>
                                            <div class="col-md-12 modal-body">
                                                {% for sequence in listSequence %}
                                                    <center>
                                                        <a href="{{path('statistiques_info', {'idSequence':sequence.id, 'idMatiere':dispense.matiere.id, 'idEnseignant':dispense.enseignant.id })}}" class="btn btn-green">
                                                            <b>{{sequence}}</b>
                                                        </a>
                                                    </center>
                                                {% endfor %}
                                                <hr>
                                                <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            {% if dispense.titulaire == app.user %}
                                <li><a class="btn-link" data-toggle="modal" data-target="#bulletin_{{dispense.id}}" href="">Générer les bulletins</a></li>
                                <div id="bulletin_{{dispense.id}}" class="modal fade">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <center><b>Choisir la séquence</b></center>
                                            </div>
                                            <div class="col-md-12 modal-body">
                                                {% for sequence in listSequence %}
                                                    <center>
                                                        <a href="{{path('bulletin_seq_classe', {'idClasse':dispense.classe.id , 'idSeq': sequence.id, 'idAnnee':dispense.annee.id })}}" class="btn btn-green">
                                                            <b>{{sequence}}</b>
                                                        </a>
                                                    </center>
                                                {% endfor %}
                                                <hr>
                                                <button type="button" class="btn btn-red pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else%}
                                ...
                            {% endif %}
                        </ol>
                        <div class="pull-right">
                            Matière: <i style="color: forestgreen">{{dispense.matiere}}</i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
    {% block pied %}
        {#<div class="" style=""><center>&copy; 2016 GreenSoft-Team. All rights reserved.</center></div>#}


        {#<div id="navbar-piedDePage" class="navbar navbar-default navbar-fixed-bottom" role="navigation">#}
        {#<div class="container">#}
        {#<div class="navbar-text col-lg-12 col-md-12 col-sm-12 col-xs-12 ">#}
        {#<p class="text-center"> &copy; 2016 GreenSoft-Team. All rights reserved.</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
    {% endblock %}
{% endblock %}