{% extends "::base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <h2>Je suis la page d'accueil. Je me trouve dans</h2>
    <h3><b><i>School/GestionBundle/Resources/views/Default</i></b></h3>
    <h3>je suis en outre le Bundle de base de l'application</h3>
    <p>
        Pour un début faisons des pages simples utilisant les couleurs par défaut.
    </p>
    <p><a href="#">{{webmaster}}</a></p>

    <h3>Test d'implémentton du module StudentBundle</h3>
    <a href="{{ path('school_student_add')}}" class="btn btn-primary">
			Add a new student
		</a>
		<a href="{{ path('school_student_list')}}" class="btn btn-primary">
			List of students
			<i class="glyphicon glyphicon-chevron-right"></i>
		</a><br><br>
        <a href="{{ path('school_class_add')}}" class="btn btn-primary">
            Add a new class
        </a>
        <a href="{{ path('school_class_list')}}" class="btn btn-primary">
            List of classes
        </a>
{% endblock %}