{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Informations sur l'établissement</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomfrancais</th>
                <td>{{ entity.nomFrancais }}</td>
            </tr>
            <tr>
                <th>Nomanglais</th>
                <td>{{ entity.nomAnglais }}</td>
            </tr>
            <tr>
                <th>Devisefrancais</th>
                <td>{{ entity.deviseFrancais }}</td>
            </tr>
            <tr>
                <th>Deviseanglais</th>
                <td>{{ entity.deviseAnglais }}</td>
            </tr>
            <tr>
                <th>Boitepostal</th>
                <td>{{ entity.boitePostal }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_ecole') }}">
                Retourner à la page
            </a>
        </li>
        <li>
            <a href="{{ path('config_ecole_edit', { 'id': entity.id }) }}">
                Modifier
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <a href="{{ path('school_gestion_homepage')}}" class="btn green">Terminé</a>
{% endblock %}
