{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Liste des enseignements</h1>
    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{path('estdispense_new')}}" class="pull-left btn-link"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un enseignement</a>
    </nav>
    <table class="records_list table table-striped panel-primary" id="estDispense">
        <thead class="panel-heading">
            <tr>
                <th>Id</th>
                <th>Matière</th>
                <th>Enseignant</th>
                <th>Classe</th>
                <th>Coef</th>
                <th>Annee</th>
                <th>Heures par an</th>
                <th>Le&ccedil;ons par an</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('estdispense_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.matiere.nom | length >= 10 %}
                            {{ entity.matiere.abreviation }}
                        {% else %}
                            {{ entity.matiere.nom }}
                        {% endif %}
                    </td>
                    <td>{{ entity.enseignant }}</td>
                    <td>{{ entity.classe.abreviation }}</td>
                    <td>{{ entity.coefficient }}</td>
                    <td>{{ entity.annee }}</td>
                    <td class="text-center">{{ entity.nombreHeuresAnnuel }}</td>
                    <td class="text-center">{{ entity.nombreLeconsAnnuel }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('estdispense_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a class="btn btn-success" href="{{ path('estdispense_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('#estDispense').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
    </script>
{% endblock %}
