{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h2 class="text-center">D&eacute;tails sur un enseignement</h2>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ entity.coefficient }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ entity.annee }}</td>
            </tr>
            <tr>
                <th>Nombreheuresannuel</th>
                <td>{{ entity.nombreHeuresAnnuel }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('estdispense')}}" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour &agrave; la liste
        </a>
        <a href="{{ path('estdispense_edit',{'id': entity.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-edit"> </i>
            Modifier
        </a>
        {{ form(delete_form) }}
    </p>
{% endblock %}
