{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Liste des Cycles</h1>

    <nav class="nav navbar-inverse alert-success col-md-12" style="margin-bottom: 3px;">
        <a style="color: green; font-size: 18px;
           text-shadow: -1px 0px;" href="{{path('cycle_new')}}" class="pull-left btn-link"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un cycle</a>
    </nav>
    <table class="records_list table cell-border row-border table-hover panel-primary" id="cycle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cycle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>
                        <a class="btn btn-info" href="{{ path('cycle_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-eye-open"></i> D&eacute;tails</a>
                        <a class="btn btn-success" href="{{ path('cycle_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i> Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('#cycle').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20], [10, 20]],
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }

        });
    </script>
    {% endblock %}
