{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="text-center">Paramètres régionaux</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Paysfrancais</th>
                <td>{{ entity.paysFrancais }}</td>
            </tr>
            <tr>
                <th>Paysanglais</th>
                <td>{{ entity.paysAnglais }}</td>
            </tr>
            <tr>
                <th>Ministerefrancais</th>
                <td>{{ entity.ministereFrancais }}</td>
            </tr>
            <tr>
                <th>Ministereanglais</th>
                <td>{{ entity.ministereAnglais }}</td>
            </tr>
            <tr>
                <th>Devisefrancais</th>
                <td>{{ entity.deviseFrancais }}</td>
            </tr>
            <tr>
                <th>Deviseanglais</th>
                <td>{{ entity.deviseAnglais }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('constante')}}" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('constante_edit',{'id': entity.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-edit"> </i>
            Modifier
        </a>
        <a href="{{ path('config_ecole_new')}}" class="btn green">
            <i class="glyphicon glyphicon-chevron-right"> </i>
            Suivant
        </a>
        {{ form(delete_form) }}
    </p>
{% endblock %}
